@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body{
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(141, 226, 252);
}

#borda{
    background-image: url(/src/images/flappybirdbg.png);
}